# Dependencies
node_modules/
dist/
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vite
*.local

# Build
.next/
.vercel/

# Misc
*.zip
migrated_prompt_history/
firebase-applet-config.json
firebase-blueprint.json
firestore.rules

.vercel
